h1{
    font-family: Helvetica;
    text-align: center;
    padding: 50px;
}
div{
    margin: auto;
    width: 30%;
    border: 3px solid rgb(15, 15, 242);
    padding: 10px;
}
button{
    font-family: Helvetica;
}
label{
    font-family: Helvetica;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
    padding: 20px;
}
img{
    margin: auto;
    display: block;
}